<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
    type="button" class="menu-button">
    <span class="sr-only">Open sidebar</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 sm:size-6">
        <path fill-rule="evenodd"
            d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75Zm0 10.5a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75ZM2 10a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 2 10Z"
            clip-rule="evenodd" />

    </svg>
</button>

<aside id="default-sidebar"
    class="fixed top-12 left-0 z-40 md:z-20 w-52 h-screen overflow-y-auto transition-transform -translate-x-full md:translate-x-0 c-transition"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 bg-textMuted">

        <% if (currentUser) { %>
            <div class="flex flex-col items-center pb-6 border-b-2 border-solid border-textMutedS mt-5">
                <div class="">
                    <div class="size-20 rounded-full bg-primary text-center flex items-center justify-center">
                        <p class="text-5xl font-semibold text-secondary">
                            <%= currentUser.username[0].toUpperCase() %>
                        </p>
                    </div>
                </div>

                <div class="mt-4 text-center">
                    <p class="text-xl text-secondary font-bold">
                        <%= currentUser.username %>
                    </p>
                    <p class="text-md text-textMutedS mt-1">
                        <%= currentUser.email %>
                    </p>
                </div>
            </div>
            <% } %>

                <ul class="space-y-2 font-medium mt-7">
                    <li>
                        <a href="/" class="aside-list group c-transition">
                            <svg class="shrink-0 size-5 text-gray-500 c-transition dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 24 24">
                                <path
                                    d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
                                <path
                                    d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
                            </svg>
                            <span class="flex-1 ms-3 whitespace-nowrap">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/url/create" class="aside-list group c-transition">
                            <svg class="size-5 text-gray-500 c-transition dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 24 24">
                                <path fill-rule="evenodd"
                                    d="M19.902 4.098a3.75 3.75 0 0 0-5.304 0l-4.5 4.5a3.75 3.75 0 0 0 1.035 6.037.75.75 0 0 1-.646 1.353 5.25 5.25 0 0 1-1.449-8.45l4.5-4.5a5.25 5.25 0 1 1 7.424 7.424l-1.757 1.757a.75.75 0 1 1-1.06-1.06l1.757-1.757a3.75 3.75 0 0 0 0-5.304Zm-7.389 4.267a.75.75 0 0 1 1-.353 5.25 5.25 0 0 1 1.449 8.45l-4.5 4.5a5.25 5.25 0 1 1-7.424-7.424l1.757-1.757a.75.75 0 1 1 1.06 1.06l-1.757 1.757a3.75 3.75 0 1 0 5.304 5.304l4.5-4.5a3.75 3.75 0 0 0-1.035-6.037.75.75 0 0 1-.354-1Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span class="flex-1 ms-3 whitespace-nowrap">Create a Short Link</span>
                        </a>
                    </li>
                    <% if (currentUser) { %>
                        <li>
                            <a href="/user/myurls" class="aside-list group c-transition">
                                <svg class="shrink-0 size-5 text-gray-500 c-transition dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    viewBox="0 0 20 20">
                                    <path
                                        d="M16.555 5.412a8.028 8.028 0 0 0-3.503-2.81 14.899 14.899 0 0 1 1.663 4.472 8.547 8.547 0 0 0 1.84-1.662ZM13.326 7.825a13.43 13.43 0 0 0-2.413-5.773 8.087 8.087 0 0 0-1.826 0 13.43 13.43 0 0 0-2.413 5.773A8.473 8.473 0 0 0 10 8.5c1.18 0 2.304-.24 3.326-.675ZM6.514 9.376A9.98 9.98 0 0 0 10 10c1.226 0 2.4-.22 3.486-.624a13.54 13.54 0 0 1-.351 3.759A13.54 13.54 0 0 1 10 13.5c-1.079 0-2.128-.127-3.134-.366a13.538 13.538 0 0 1-.352-3.758ZM5.285 7.074a14.9 14.9 0 0 1 1.663-4.471 8.028 8.028 0 0 0-3.503 2.81c.529.638 1.149 1.199 1.84 1.66ZM17.334 6.798a7.973 7.973 0 0 1 .614 4.115 13.47 13.47 0 0 1-3.178 1.72 15.093 15.093 0 0 0 .174-3.939 10.043 10.043 0 0 0 2.39-1.896ZM2.666 6.798a10.042 10.042 0 0 0 2.39 1.896 15.196 15.196 0 0 0 .174 3.94 13.472 13.472 0 0 1-3.178-1.72 7.973 7.973 0 0 1 .615-4.115ZM10 15c.898 0 1.778-.079 2.633-.23a13.473 13.473 0 0 1-1.72 3.178 8.099 8.099 0 0 1-1.826 0 13.47 13.47 0 0 1-1.72-3.178c.855.151 1.735.23 2.633.23ZM14.357 14.357a14.912 14.912 0 0 1-1.305 3.04 8.027 8.027 0 0 0 4.345-4.345c-.953.542-1.971.981-3.04 1.305ZM6.948 17.397a8.027 8.027 0 0 1-4.345-4.345c.953.542 1.971.981 3.04 1.305a14.912 14.912 0 0 0 1.305 3.04Z" />
                                </svg>

                                <span class="ms-3">My Links</span>
                            </a>
                        </li>
                        <li class="w-full">
                            <a id="open-edit-modal" class="aside-list group c-transition" aria-haspopup="dialog"
                                aria-expanded="false" aria-controls="hs-focus-management-modal"
                                data-hs-overlay="#hs-focus-management-modal">
                                <svg class="shrink-0 size-5 text-gray-500 c-transition dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    viewBox="0 0 20 20">
                                    <path
                                        d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z" />
                                </svg>
                                <span class="flex-1 ms-3 whitespace-nowrap">Update Username</span>
                            </a>
                        </li>
                        <li>
                            <a href="/auth/reset-password" class="aside-list group c-transition">
                                <svg class="shrink-0 size-5 text-gray-500 c-transition dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    viewBox="0 0 20 20">
                                    <path fill-rule="evenodd"
                                        d="M8 7a5 5 0 1 1 3.61 4.804l-1.903 1.903A1 1 0 0 1 9 14H8v1a1 1 0 0 1-1 1H6v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 0 1 .293-.707L8.196 8.39A5.002 5.002 0 0 1 8 7Zm5-3a.75.75 0 0 0 0 1.5A1.5 1.5 0 0 1 14.5 7 .75.75 0 0 0 16 7a3 3 0 0 0-3-3Z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="flex-1 ms-3 whitespace-nowrap">Change Password</span>
                            </a>
                        </li>
                        <% if (!currentUser.isVerified) {%>
                            <li>
                                <a href="/auth/verify-email" class="aside-list group c-transition">
                                    <svg class="shrink-0 size-5 text-gray-500 c-transition dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        viewBox="0 0 18 20">
                                        <path
                                            d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
                                    </svg>
                                    <span class="flex-1 ms-3 whitespace-nowrap">Verify your account</span>
                                    <% if (currentUser.verifyEmailToken) { %>

                                        <div class="hidden" id="stopWatch1">
                                            <%=new Date(`${currentUser.verifyEmailTokenExpiration}`).getTime() -
                                                Date.now()%>
                                        </div>
                                        <span id="stopWatch3"
                                            class="inline-flex items-center justify-center px-1 ms-3 text-sm font-medium text-textMutedS bg-primary rounded-full">
                                        </span>
                                        <% } %>
                                </a>

                            </li>
                            <% } %>
                                <li>
                                    <a href="/auth/logout" class="aside-list group c-transition">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="shrink-0 size-5 text-gray-500 c-transition dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
                                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                                            <polyline points="16 17 21 12 16 7" />
                                            <line x1="21" x2="9" y1="12" y2="12" />

                                        </svg>
                                        <span class="flex-1 ms-3 whitespace-nowrap">Sign Out</span>
                                    </a>
                                </li>
                                <% }else{ %>
                                    <li>
                                        <a href="/auth/login" class="aside-list group c-transition">
                                            <svg class="shrink-0 size-5 text-gray-500 c-transition dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 18 16">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
                                            </svg>
                                            <span class="flex-1 ms-3 whitespace-nowrap">Sign In</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/auth/register" class="aside-list group c-transition">
                                            <svg class="shrink-0 size-5 text-gray-500 c-transition dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor" viewBox="0 0 20 20">
                                                <path
                                                    d="M10 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM1.615 16.428a1.224 1.224 0 0 1-.569-1.175 6.002 6.002 0 0 1 11.908 0c.058.467-.172.92-.57 1.174A9.953 9.953 0 0 1 7 18a9.953 9.953 0 0 1-5.385-1.572ZM16.25 5.75a.75.75 0 0 0-1.5 0v2h-2a.75.75 0 0 0 0 1.5h2v2a.75.75 0 0 0 1.5 0v-2h2a.75.75 0 0 0 0-1.5h-2v-2Z" />
                                            </svg>
                                            <span class="flex-1 ms-3 whitespace-nowrap">Sign Up</span>
                                        </a>
                                    </li>
                                    <% } %>
                </ul>
    </div>
</aside>


<% if(currentUser) {%>
    <div id="hs-focus-management-modal"
        class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto justify-center items-center pointer-events-none c-transition bg-black bg-opacity-25 backdrop-blur-sm"
        role="dialog" tabindex="-1" aria-labelledby="hs-focus-management-modal-label">
        <div
            class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 c-transistion mt-0  ease-out opacity-0  sm:max-w-lg sm:w-full m-3 sm:mx-auto">
            <div
                class="flex flex-col bg-textMuted border shadow-sm rounded-xl pointer-events-auto dark:shadow-neutral-700/70">
                <form action="/user/update-profile?_method=PATCH" method="POST">
                    <div class="flex justify-between items-center py-3 px-4 border-b border-textMutedS">
                        <h3 id="hs-focus-management-modal-label" class="font-bold text-gray-800 dark:text-white">
                            Edit Profile
                        </h3>
                        <button type="button" id="close-edit-modal"
                            class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
                            aria-label="Close" data-hs-overlay="#hs-focus-management-modal">
                            <span class="sr-only">Close</span>
                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M18 6 6 18"></path>
                                <path d="m6 6 12 12"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="p-4 overflow-y-auto">
                        <label for="input-label" class="block text-sm font-medium mb-2 dark:text-white">Username</label>
                        <input type="username" id="edit-input-label" name="username"
                            class="py-3 px-4 block w-full border-secondary rounded-lg text-sm focus:border-textMutedS focus:ring-textMutedS bg-primary text-secondary"
                            placeholder="<%= currentUser.username %>">
                    </div>
                    <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-textMutedS">
                        <button type="submit"
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-secondary text-primary hover:bg-textMutedS focus:outline-none focus:bg-textMutedS c-transition disabled:opacity-50 disabled:pointer-events-none">
                            Save changes
                        </button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <% } %>